@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

.header h1{
	font-weight: bold;
}

.error{
	color: red;
}


.card.card-custom {
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  max-height: 400px;
  min-height: 380px;
}

.custom-form-group{
	display: inline-block;
	width: 300px;
}


.row.search-bar {
  background-color: #d1ffd6;
  padding: 10px;
}
.search-bar .form-inline {
  padding: 10px;
  margin-left: 110px;
}

.navbar-custom {
  text-align: center;
  background: #379784;
  color: white;
}


.navbar-brand {
  color: white;
  font-weight: 900;
  font-size: 25px;
}

#taskDropdown {
  color: white;
}
.dropdown-item {
  color: white;
}
.nav-link {
  color: white;
}